:root {
  --color-bg: #ffffff;
  --color-bg-hover: #f4f4f4;
  --color-text: #222222;
}
:root[data-theme="dark"] {
  --color-bg: #20262c;
  --color-bg-hover: #2c3238;
  --color-text: #ece8f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text)
}